.App {
  text-align: center;

}
.header{
  background-color: rgba(132, 231, 229, 0.941);
  padding: 50px 0;

}
.parent{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 27px;
  /* height: 250px; */
}
.content{
  border: 1px solid;
  margin: 10px;
  justify-content: center;
  
}
button{
  color: aliceblue;
  border: 1px solid;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin: 15px 0;
  padding: 5px;
}

.normal{
  background-color: rgba(61, 61, 239, 0.979);
}
.danger{
  background-color: rgba(244, 8, 8, 0.854);
}
.cart{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
}
.rating{
  color: gold;
}
.image{
  height: 300px;
  width: 300px;
}